html{
    overflow: hidden;
    width: 100%;
    height: 100%;
    body{
        overflow-x: hidden;
        padding-top:65px;
           width: 100%;
        height: 100%;
        footer{
            width: 100%;
            // height: 480px;
            padding:16px;
            background: #281E1D;
            .sidebar{
                list-style: none;
                width: 100%;
                display: block;
                margin: 0px auto;
                padding: 0px;
                padding-top: 64px;
            }
            .navbar-brand-img{
                max-width: 100px;
                height: auto;
                display: block;
                margin: 0 auto;
                filter: brightness(0) invert(1);
            }
        }
        .img-responsive{
            max-width: 100%;
            display: block;
            height: auto;
        }
    }
}
.navbar-brand-img{
    max-width: 48px;   
    filter: brightness(0) invert(1);
}
.bg-light{
    background: #ac0e0c !important;
    transition: 1s all ease-in-out;
    position: fixed;
    z-index: 9999;
    width: 100%;
    TOP: 0PX;
    Z-INDEX: 9999999;
    .nav-link{
        color:white !important;
    }
}
.img-short{
    max-width: 100px !important;
    display: block;
    margin: 0 auto;
    img{
        display: block;
        margin: 0 auto;
    }
}
.custombar{
    transition: 1s all ease-in-out;
    .nav-item{
        a{
            padding-right: .5rem;
            padding-left: .5rem;
            color:white;
            display: block;
            padding: .5rem 1rem;
            text-decoration: none !important;
        }
    }
}
.navbar-collapse{
    min-height: 400px;
}
.preload{
      position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    top: 0px;
    z-index: 999999999;
    .svg-load{
        width: 146px;
        display: block;
        margin: 20% auto;
        position: relative;
    }
}
.cls-1, .cls-2 , .cls-3 , .cls-4 , .cls-5 , .cls-6 , .cls-7{
    box-shadow: 1px 2px 3px 5px rgba(0,0,0,1)
    
}
.svg-img{
    width: 75%;
    max-width:520px;
    display:block;
    margin: 0 auto;
    margin-top:132px;
    margin-bottom:132px;
}
.loop-1{
    webkit-animation: Float1 8s infinite; /* Safari 4+ */
    -moz-animation:    Float1 8s infinite; /* Fx 5+ */
    -o-animation:   Float1 8s infinite; /* Opera 12+ */
     animation:     Float1 8s infinite; /* IE 10+, Fx 29+ */
}
.loop-2{
    webkit-animation: Float2 10s infinite; /* Safari 4+ */
    -moz-animation:    Float2 10s infinite; /* Fx 5+ */
    -o-animation:   Float2 10s infinite; /* Opera 12+ */
     animation:     Float2 10s infinite; /* IE 10+, Fx 29+ */
}

@media (min-width:768px){
        html{
        overflow-x: hidden;
        body{
            overflow-x: hidden;
            padding-top:0px;
        }
    }
     .bg-light{
        background: rgba(255,255,255,0.0) !important;
     }
     .bg-light.no-top{
         background: #ac0e0c !important;
         transition: 1s all ease-in-out;
     }
     .overcol{
         margin-top:-280px !important;
     }
        .navbar-collapse{
            min-height:  0px;
        }
    }
.animateOut{
    -webkit-animation: Esconder 5s 1; /* Safari 4+ */
    -moz-animation:    Esconder 5s 1; /* Fx 5+ */
    -o-animation:      Esconder 5s 1; /* Opera 12+ */
     animation:     Esconder 5s 1; /* IE 10+, Fx 29+ */
     display: none;
}
@-webkit-keyframes Esconder {
  0%   { opacity: 1; }
  100% { opacity: 0; display: none; }
}
@-moz-keyframes Esconder {
  0%   { opacity: 1; }
  100% { opacity: 0; display: none; }
}
@-o-keyframes Esconder {
  0%   { opacity: 1; }
  100% { opacity: 0; display: none; }
}
@keyframes Esconder {
  0%   { opacity: 1; }
  100% { opacity: 0; display: none; }
}

@-webkit-keyframes Float1 {
  0%   {
      transform: translateX(0%) translateY(0px) translateZ(0rem);
      }
  20%   {
    transform: translateX(5px) translateY(2px) translateZ(100rem);
  }
  40%   {
    transform: translateX(0px) translateY(-1px);
  }
  60%   {
    transform: translateX(5px) translateY(3px) translateZ(-200rem);;
  }
  80% { 
      transform: translateX(2px) translateY(-2px) translateZ(10rem);
  }
  100% { 
      transform: translateX(0px) translateY(0px) translateZ(0rem);
  }
}
@-webkit-keyframes Float2 {
  0%   {
      transform: translateX(0%) translateY(0px) translateZ(0rem);
      }
  20%   {
    transform: translateX(1px) translateY(2px) translateZ(200rem);
  }
  40%   {
    transform: translateX(0px) translateY(-3px);
  }
  60%   {
    transform: translateX(1px) translateY(1px) translateZ(0rem);;
  }
  80% { 
      transform: translateX(2px) translateY(-2px) translateZ(10rem);
  }
  100% { 
      transform: translateX(0px) translateY(0px) translateZ(0rem);
  }
}
